body{
    background-color: #006080;
}

.main{
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-top: 20px;
}

.left{
    display: flex;
    color: white;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
.left>h1{
    font-family: 'Roboto Black';
    font-size: 48px;
}
.left>p{
    width: 400px;
    font-size: 20px;



}
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-container>button{
    background-color: #A35402;
    font-size: 15px;
    border-radius: 20px;
    padding: 10px;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow:1;
    
}
.right>img{
    width: 400px;
    height: 400px;
    margin-top: 32.162px;
}


/* workig with meadia query */
@media only screen and (max-width: 920px) {
    .main{
        display: flex;
        flex-wrap: wrap;
    }
  }

